// Styles for mobile-auth intro overlay

.intro-mobile.intro-mobile-auth {
  --intro-end-top-mobile: 24px;
  --intro-end-left-mobile: 16px;
  --intro-end-size-mobile: 24px;
  --intro-logo-dark-opacity-end: 1;
  --intro-overlay-start-opacity: 1;
  --intro-overlay-end-opacity: 0;
  --intro-logo-primary-start-opacity: 1;
  --intro-logo-primary-end-opacity: 1;
  --intro-logo-secondary-start-opacity: 0;
  --intro-logo-secondary-end-opacity: 1;
}
